API_BASE=http://localhost:8000/api/v1
API_HOST=http://localhost:8000
AUTH_LOGIN_ENDPOINT=http://localhost:8000/api/login
AUTH_LOGOUT_ENDPOINT=http://localhost:8000/api/logout
AUTH_USER_ENDPOINT=http://localhost:8000/api/v1/users/current
PRODUCT_PREVIEW_URL=http://storefront.test/products/preview/:id
CATEGORY_PREVIEW_URL=http://storefront.test/categories/preview/:id
COLLECTION_PREVIEW_URL=http://storefront.test/collections/preview/:id