API_BASE=http://localhost:8000/api/v1
SANCTUM_URL=http://localhost:8000/api
PRODUCT_PREVIEW_URL=http://storefront.test/products/preview/:id
PRODUCT_LIVE_URL=http://storefront.test/products/preview/:slug
CATEGORY_PREVIEW_URL=http://storefront.test/categories/preview/:id
COLLECTION_PREVIEW_URL=http://storefront.test/collections/preview/:id