API_BASE=http://storefront-api.test/api/v1
API_HOST=htt://storefront-api.test
PROXY_LOGIN_ENDPOINT=http://storefront-api.test/api/login
PROXY_USER_ENDPOINT=http://storefront-api.test/api/v1/users/current
PRODUCT_PREVIEW_URL=http://storefront.test/products/preview/:id
