.table-headers {
    border: none;
    background-color: #F4F5F8;

    .table-header-cell {
      color: #A1A3B9;
      text-transform: uppercase;
      font-weight:600;
      font-size: 12px;
      padding-top: 20px;
      padding-bottom: 20px;
      border: none;
      &:first-child {
        padding-left:10px;
      }
    }
	}

